---
driver:
  name: proxy
  host: localhost
  reset_command: "exit 0"
  port: 5985
  username: <%= ENV["machine_user"] %>
  password: <%= ENV["machine_pass"] %>

provisioner:
  name: chef_zero
  require_chef_omnibus: 12.19.36

platforms:
- name: windows-2012R2

suites:
  - name: default
    run_list:
      - recipe[chocolatey::default]
      - recipe[chocolatey_test::default]
    attributes:
      chocolatey:
        install_vars:
          chocolateyVersion: 0.9.10.3
